.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-left: -$gutter;
  margin-right: -$gutter;
}
.col {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: $gutter;
  padding-right: $gutter;
  @for $i from 1 through $columnas {
    $col-W: ($columna-width) * $i;
    &.s#{$i} {
      flex-basis: unquote($col-W+'%');
      max-width: unquote($col-W+'%');
    }
    &.off-s#{$i} {
      margin-left: unquote($col-W+'%');
    }
  }
}